<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjy.models.Address">
	<resultMap type="Address" id="AddressMap">
		<id property="aid" column="aid" />
		<result property="uid" column="uid" />
		<result property="uname" column="uname" />
		<result property="phoneNumber" column="phoneNumber" />
		<result property="address" column="address"/>
        <result property="status" column="status"/>
	</resultMap>
	<select id="selectAllAddresses" resultMap="AddressMap">
		select * from t_address t
		<where>
			<if test="uid != null">
				AND t.uid = #{uid}
			</if>
		</where>
	</select>
	<insert id="insert">
		insert into t_address
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="aid != null">
				aid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="uname != null">
				uname,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="phoneNumber != null">
			   phoneNumber,
			</if>
			<if test="status != null">
			   status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="aid != null">
				#{aid},
			</if>
			<if test="uid != null">
				#{uid},
			</if>
			<if test="uname != null">
				#{uname},
			</if>
			<if test="address != null">
				#{address},
			</if>
			<if test="phoneNumber != null">
			  #{phoneNumber},
			</if>
			<if test="status != null">
			  #{status},
			</if>
		</trim>
	</insert>
	<delete id="deleteById">
		delete  from t_address
		where aid = #{aid}
	</delete>
	<update id="update">
		update t_address
		<set>
			<if test="address != null">
				address=#{address},
			</if>
			<if test="uname != null">
				uname=#{uname},
			</if>
			<if test="phoneNumber != null">
				phoneNumber=#{phoneNumber},
			</if>
			<if test="status != null">
				status=#{status},
			</if>
		</set>
		<where>
			<if test="aid != null">
				AND aid = #{aid}
			</if>
		</where>
	</update>
</mapper>