<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjy.models.CartItem">
    <resultMap type="CartItem" id="CartMap">
        <id property="cartItemId" column="cartItemId"/>
        <result property="quantity" column="quantity"/>
    </resultMap>
    <update id="update" parameterType="CmMenuPO" >
    update T_CM_MENU
    <set>
    <if test="menuIcon != null" >
      MENU_ICON=#{menuIcon},
     </if>
     <if test="parentMenuId != null" >
      PARENT_MENU_ID=#{parentMenuId},
     </if>
     <if test="menuNo != null" >
      MENU_NO=#{menuNo},
     </if>
     <if test="openFlag != null" >
      OPEN_FLAG=#{openFlag},
     </if>
     <if test="menuUrl != null" >
      MENU_URL=#{menuUrl},
     </if>
     <if test="menuName != null" >
      MENU_NAME=#{menuName},
     </if>
     <if test="menuAuthority != null" >
      MENU_AUTHORITY=#{menuAuthority},
     </if>
     <if test="menuAuthority != null" >
      OPEN_FLAG=#{openFlag},
     </if>
     <if test="menuType != null" >
      MENU_TYPE=#{menuType},
     </if>
      LAST_MODIFY_TIME=SYSDATE(),
     <if test="memo != null" >
      MEMO=#{memo},
     </if>
     <if test="menuSeq != null" >
      MENU_SEQ=#{menuSeq},
     </if>
     <if test="menuLevel != null" >
      MENU_LEVEL=#{menuLevel},
     </if>
      </set>
      where MENU_ID = #{menuId}

  </update>
  
  <insert id="insert" parameterType="CmMenuPO" >
  insert into T_CM_MENU
    <trim prefix="(" suffix=")" suffixOverrides="," >
     <if test="menuId != null">
        MENU_ID, 
     </if> 
    <if test="parentMenuId != null">
        PARENT_MENU_ID, 
     </if>
     <if test="menuNo != null">
        MENU_NO, 
     </if>
     <if test="menuUrl != null">
        MENU_URL, 
     </if>
     <if test="menuName != null">
        MENU_NAME, 
     </if>
     <if test="menuIcon != null">
        MENU_ICON, 
     </if>
     <if test="menuType != null">
        MENU_TYPE, 
     </if>
     <if test="menuAuthority != null">
        MENU_AUTHORITY, 
     </if>
      <if test="openFlag != null">
        OPEN_FLAG, 
     </if>
        CREATE_TIME, 
        LAST_MODIFY_TIME, 
      <if test="memo != null">
        MEMO, 
     </if>
      <if test="menuSeq != null">
        MENU_SEQ, 
     </if>
      <if test="menuLevel != null">
        MENU_LEVEL, 
     </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null">
		#{menuId},
	  </if>
      <if test="parentMenuId != null">
	 	#{parentMenuId},
	  </if>
	  <if test="menuNo != null">
		#{menuNo},
	  </if>
	  <if test="menuUrl != null">
		#{menuUrl},
	  </if>
	  <if test="menuName != null">
		#{menuName},
	  </if>
	  <if test="menuIcon != null">
		#{menuIcon},
	  </if>
	  <if test="menuType != null">
		#{menuType},
	  </if>
	  <if test="menuAuthority != null">
		#{menuAuthority},
	  </if>
	  <if test="openFlag != null">
		#{openFlag},
	  </if>
		SYSDATE(),
		SYSDATE(),
	  <if test="memo != null">
		#{memo},
	  </if>
	  <if test="menuSeq != null">
		#{menuSeq},
	  </if>
	  <if test="menuLevel != null">
		#{menuLevel},
	  </if>
    </trim>
  </insert>
</mapper>