<div class="row" ng-controller="showCtrol">
					<div id="title" class="col-sm-10">
						<h1>
							<span style="margin-top: 0px; block: display" ng-bind='title'></span>专辑
						</h1>
					</div>
					 <div class="col-sm-2">
						<div class="input-group" style="padding-top: 18px">
							<input type="text" class="form-control" placeholder="搜索好音乐" ng-model="keyValue">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" ng-click="searchMusic()">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div> 
				</div>
				<!-- 专辑展示div -->
				<div list></div>